# Titanic Classification

### Importing Libraries

In [36]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report

### Loading the Titanic dataset

In [37]:
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
df = pd.read_csv(url)

In [38]:
df

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500

### Data preprocessing

### Here, we will drop some columns and handle missing values for simplicity

In [39]:
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Fare'].fillna(df['Fare'].median(), inplace=True)

### Define features (X) and target (y)

In [40]:
X = df.drop(['Survived','Name'], axis=1)
y = df['Survived']

### Split the dataset into training and testing sets

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Create a decision tree classifier

In [42]:
classifier = DecisionTreeClassifier(random_state=42)

### Train the model

In [43]:
classifier.fit(X_train, y_train)

DecisionTreeClassifier(random_state=42)

### Make predictions on the test set

In [44]:
y_pred = classifier.predict(X_test)

### Evaluate the model

In [45]:
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

### Result

In [47]:
print(f"Accuracy: {accuracy}")

Accuracy: 0.7415730337078652

In [48]:
print("Classification Report:")
print(report)

Classification Report:
              precision    recall  f1-score   support

           0       0.82      0.76      0.79       111
           1       0.64      0.72      0.68        67

    accuracy                           0.74       178
   macro avg       0.73      0.74      0.73       178
weighted avg       0.75      0.74      0.74       178